* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.navbar-brand {
  font-family: fantasy;
}

.bg-dark {
    background-color: #336!important;
}

li a:hover {
  background: #cccc;
}

#cart-icon {
  width: 25px;
  display: inline-block;
  margin-left: 15px;
}

#cart-total {
  display: block;
  text-align: center;
  color: #fff;
  background-color: red;
  width: 20px;
  height: 25px;
  border-radius: 50%;
  font-size: 14px;
}

.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #272727;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.banner img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.25;
}

.heading {
  font-family: 'Times New Roman';
  text-align: center;
  color: #fff;
  font-size: 50px;
  font-weight: 800;
  letter-spacing: 1px;
  margin-bottom: 33px;
  margin-top: -2px;
}
h6 {
  text-align: center;
  font-size: 20px;
}

h4 {
  display: inline-block;
  float: right;
}

p {
  text-align: center;
}

.text {
  color: #fff;
  font-size: 20px;
  text-align: center;
  font-family: 'Times New Roman';
  font-weight: 500;
  letter-spacing: 1px;
}

.content {
  position: relative;
  max-width: 750px;
  text-align: center;
}

.content h2 {
  font-size: 59px;
  margin-top: 200px;
}

.content p {
  font-size: 18px;
}

.btn {
  color: #fff;
  border-radius: 50px;
  background: linear-gradient(45deg, #e60000, #ff0000);
  padding: 10px;
  margin-top: 8px;
  cursor: pointer;
}

.btn:hover {
  background: #000;
  color: #fff;
}

/* about */
.about {
  position: relative;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  width: 100%;
  display: flex;
}

.about .contentBx {
  color: #000;
  padding: 50px;
  width: 50%;
}

.about .imgBx {
  background: url('./images/chk.jpg');
  width: 50%;
  background-size: cover;
  background-position: center;
}

.register {
  height: 100vh;
  display: flex;
  background: url('./images/register.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}

.login {
  cursor: pointer;
  height: 100vh;
  display: flex;
  background: url('./images/login.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}

.login h2{
  text-align: center;
}

.contact {
  height: 100vh;
  display: flex;
  background: url('./images/p.bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.cart-bg {
  height: 150vh;
  display: flex;
  background: url('./images/p.bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.shop {
  background: url('./images/p.bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.shop-container {
  height: 100vh;
  background: url('./images/p.bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.check-wrap{
    border-radius: 20px;
    margin: auto;
    width: fit-content;
    background: rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
    padding: 40px;
    color: #fff;
}

.contact-wrap {
  max-width: 400px;
  border-radius: 20px;
  margin: auto;
  background: rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
  padding: 40px;
  color: #fff;
}

.wrap {
  max-width: 400px;
  border-radius: 20px;
  margin: auto;
  background: rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
  padding: 28px;
  color: #fff;
}

.wrap h2 {
  text-align: center;
}

input[type='text'],
[type='email'],
[type='password'] {
  width: 100%;
  box-sizing: border-box;
  padding: 12px 5px;
  background: rgba(0, 0, 0, 0.1);
  outline: none;
  border: none;
  border-bottom: 1px dotted #fff;
  color: #fff;
  border-radius: 5px;
  margin: 5px;
  font-weight: bold;
}

.table th, .table td{
  color: #fff;
}

.login_wrap {
  max-width: 400px;
  border-radius: 20px;
  margin: auto;
  background: rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
  padding: 40px;
  color: #fff;
  margin-top: 200px;
}

input[type='submit'] {
  width: 100%;
}

form p {
  text-align: center;
}

/* cards and columns*/
.box-element {
  box-shadow: hsl(0, 0%, 80%) 0 0 16px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 50px;
}

.thumbnail {
  width: 100%;
  height: 70%;
  box-shadow: -1px -3px 5px -2px rgba(214, 214, 214, 1);
}

.product {
  border-radius: 0 0 4px 4px;
}

.checkout {
  float: right;
}

.col-lg-4,
.col-lg-6,
.col-lg-12 {
  margin-top: 10px;
}

.row-image {
  width: 100px;
}

.cart-row {
  display: flex;
  align-items: flex-stretch;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ececec;
}

.quantity {
  display: inline-block;
  font-weight: 700;
  padding-right: 10px;
}

.chg-quantity {
  width: 12px;
  cursor: pointer;
  display: block;
  margin-top: 5px;
  transition: 0.1s;
}

.chg-quantity:hover {
  opacity: 0.6;
}

.hidden {
  display: none !important;
}


.footer {
  position: relative;
  color: #fff;
  bottom: 0;
  padding: 20px 40px;
  background: #336!important;
  flex-direction: column-reverse;
  text-align: center;
}

.footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer ul li {
  list-style: none;
}

.footer ul li a {
  text-decoration: none;
  display: inline-block;
  margin: 0 10px;
}

.footer ul li img {
  filter: invert(1);
  max-width: 30px;
}

.card {
  width: 100%;
  margin-bottom: 25px;
  background-color: #ccc;
}

.card-deck .card{
margin-bottom: 20px;
}

.card-img-top {
  height: 500px;
}

.card-title {
  font-size: 16px;
  color: #000;
  text-align: center;
}

p .card-text {
  float: right;
}

.card-body {
  margin: 0% 0% 0% 3%;
  padding: 6% 0%;
}

@media (max-width: 991px) {
  /*banner*/
  .banner,
  .login {
    padding: 50px;
  }
  .banner header {
    padding: 20px 50px;
  }

  .banner .content h2 {
    font-size: 25px;
  }

  .banner .content p {
    font-size: 10px;
  }

  .about {
    flex-direction: column;
  }

  .about .contentBx,
  .about {
    width: 100%;
    padding: 12px;
    min-height: 600px;
    text-align: center;
  }

  .imgBx {
    display: none;
  }

  .wrap {
    max-width: min-content;
  }

  .check-wrap{
    width:91%;
  }

  .footer {
    padding: 29px 50px;
    flex-direction: column-reverse;
    text-align: center;
  }

  .footer ul {
    margin-bottom: 20px;
  }
}
