{% extends "base.html" %} {% block styles %}

<!--custom styles-->
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for ('static', filename='main.css')}}"
/>
{% endblock %} {% block content %}

<div class="container">
  <h1 class="heading">Your Collection</h1>
  <div class="row">
    <div class="col-lg-12">
      <div class="box-element">
        <a class="btn" href="{{url_for('products')}}"
          >&#x2190; Continue Shopping</a
        >

        <br />
        <br />
        <table class="table">
          <tr>
            <th>
              <h5>Items: <strong>0</strong></h5>
            </th>
            <th>
              <h5>Total: <strong>R0.00</strong></h5>
            </th>
            <th>
              <a class="checkout btn" href="{{url_for('checkout')}}"
                >Checkout</a
              >
            </th>
          </tr>
        </table>
      </div>

      <br />
      <div class="box-element">
        <div class="cart-row">
          <div style="flex: 2;"></div>
          <div style="flex: 2;"><strong>Item</strong></div>
          <div style="flex: 1;"><strong>Price</strong></div>
          <div style="flex: 1;"><strong>Quantity</strong></div>
          <div style="flex: 1;"><strong>Total</strong></div>
        </div>

        <div class="cart-row">
          <div style="flex: 1;">
            <img class="row-image" src="/images/2+placeholder.png" />
          </div>
          <div style="flex: 2;"><p>Product1</p></div>
          <div style="flex: 2;"><p>R0.00</p></div>
          <div style="flex: 1;">
            <p class="quantity">0</p>
          </div>
          <div style="flex: 1;">
            <p><strong>R0.00</strong></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
