{% extends "base.html" %} {% block styles %}

<!--custom styles-->
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for ('static', filename='main.css')}}"
/>
{% endblock %} {% block content %}
<div class="cart-bg">
<div class="container">
  <h1 class="heading">Your Collection</h1>
  <div class="row">
    <div class="col-lg-12">
      <div class="box-element">
        <a class="btn" href="{{url_for('products')}}"
          >&#x2190; Continue Shopping</a>

        <table class="table">
          <tr>
            <th>
              <h5>Items: <strong>0</strong></h5>
            </th>
            <th>
              <h5>Total: <strong>R0.00</strong></h5>
            </th>
            <th>
              <a class="checkout btn" href="{{url_for('checkout')}}"
                >Checkout</a
              >
            </th>
          </tr>
        </table>
      

      <table class="table">
        <thead>
          <tr>
            <th scope="col">Item</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">Total</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>

          </tr>
        </tbody>
      </table>
  </div>
  </div>
  </div>
  </div>

  {% endblock content %}

