<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mbhaco Designs</title>
    <!--Bootstrap css-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!--custom styles-->
    <link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename='main.css')}}">
</head>

<body>
    <!--Navbar starts here-->
    <nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ url_for('dashboard')}}">Mbhaco Designs</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('about')}}">About us</a>
                </li>
            
                <li class="nav-item active">
                    <a class="nav-link" disable href="#">Shop now</a>
                </li>
            
                <li class="nav-item active">
                    <a class="nav-link" disable href="#">Checkout</a>
                </li>
            
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('contact')}}l">Contact us</a>
                </li>
            </ul>

            <div class="form-inline my-2 my-lg-0">
                <a href="{{url_for('register') }}">

                    <p class="btn">Register</p></a>
                    

                <a href="{{url_for('login') }}">

                    <p class="btn">Login</p></a>
            </div>
        </div>
    </nav>
    <!--Navbar ends here-->

    <!--Hero section-->
    <div class="banner">
        <img src="{{ url_for ('static', filename='/images/xhosa.jpeg')}}">
        <div class="content">
            <h2 class="animation a1">Welcome to African Royalty</h2>
            <p class="animation a2">
                We have a new range of luxury
            </p>
        </div>
    </div>
    <!--Ends here-->

    <!--footer-->
    <section class='footer bg-dark'>
        <p>Designed and Developed by Anam Majikijela</p>
        <ul> 
            <li>
                <a href='https://m.facebook.com/anam.majikijela'>
                    <img src="{{ url_for ('static', filename='/images/facebook.png')}}" alt='facebook' />
                    </a>
                </li>
            <li> 
                <a href='https://codepen.io/Majikijela'>
                    <img src="{{ url_for ('static', filename='/images/codepen.png')}}" alt='codepen' />
                    </a>
                </li>
            <li>
                <a href='https://github.com/Anam0609'>
                    <img src="{{ url_for ('static', filename='/images/github.png')}}" alt='github' />
                    </a>
                </li>
            <li>
                <a href='https://www.linkedin.com/in/anam-bianca-majikijela-944270153'>
                    <img src="{{ url_for ('static', filename='/images/linkedin.png')}}" alt='linkedin' />
                    </a>
                </li>
            </ul>
        </section>

    <!--bootstrap scripts-->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="main.js"></script>
    
</body>
</html>