{% extends "base.html" %} 

{% block title %} Mbhaco Designs {% endblock %} 

{% block styles %} 
{{super()}}
<!--custom styles-->
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for ('static', filename='main.css')}}"
/>
{% endblock %}

{% block content %}
<!--Hero section-->
<div class="banner">
  <img src="{{ url_for ('static', filename='/images/background.jpeg')}}" />
  <div class="content">
    <h2 data-aos="fade-up">Welcome {{name}} to African Royalty</h2>
    <p data-aos="fade-down">
      We have a new range of luxury
    </p>
    <a class="btn" data-aos="flip-left" href="{{ url_for('products')}}">Shop Now </a>
  </div>
</div>
<!--Ends here-->
{% endblock %}