{% extends "base.html" %} 

{% block title %} Mbhaco Designs {% endblock %} 

{% block styles %} 
{{super()}}
<!--custom styles-->
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for ('static', filename='main.css')}}"
/>
{% endblock %}

{% block content %}
<!--Hero section-->
<div class="banner">
  <img src="{{ url_for ('static', filename='/images/background.jpeg')}}" />
  <div class="content">
    <h2 class="animation a1">Welcome {{name}} to African Royalty</h2>
    <p class="animation a2">
      We have a new range of luxury
    </p>
    <a class="btn animation a3" href="{{ url_for('products')}}">Shop Now </a>
  </div>
</div>
<!--Ends here-->
{% endblock %}