{% extends "base.html" %}

{% block styles %}

<!--custom styles-->
<link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename='main.css')}}" />
{% endblock %}

{% block content %}
    <!--Products-->

    <h1 class="heading">The Royal Collection</h1>
    <h6 class="heading">For the Kings & Queens</h6>
    <div class="row">
      <div class="col-lg-4">
        <img class="thumbnail" src="{{ url_for ('static', filename='/images/accessories-item-8.jpeg')}}" />
        <div class="box-element product">
          <h6 class="name"><strong>Headwrap & Earrings</strong></h6>

          <hr />

          <button
            class="btn add-btn cart1">
            Add to Cart
          </button>
          <a class="btn" href="#">View</a>
          <h4 class="price"><strong>R100.00</strong></h4>
        </div>
      </div>

      <div class="col-lg-4">
        <img class="thumbnail" src="{{ url_for ('static', filename='/images/men-item2.jpeg')}}" />
        <div class="box-element product">
          <h6 class="name"><strong>Men Mbhaco Pants</strong></h6>

          <hr />

          <button
            class="btn add-btn cart2"
          >
            Add to Cart
          </button>
          <a class="btn" href="#">View</a>
          <h4 class="price"><strong>R100.00</strong></h4>
        </div>
      </div>

      <div class="col-lg-4">
        <img class="thumbnail" src="{{ url_for ('static', filename='/images/women-item11.jpeg')}}" />
        <div class="box-element product">
          <h6 class="name"><strong>Skirt & Scarf & Headwrap</strong></h6>

          <hr />

          <button
            class="btn add-btn cart3"
          >
            Add to Cart
          </button>
          <a class="btn" href="#">View</a>
          <h4 class="price"><strong>R400.00</strong></h4>
        </div>
      </div>

      <div class="col-lg-4">
        <img class="thumbnail" src="{{ url_for ('static', filename='/images/men-item7.png')}}" />
        <div class="box-element product">
          <h6 class="name"><strong>Men's 3pc attire</strong></h6>
          <p><small>Excludes accessories</small></p>

          <hr />

          <button
            class="btn add-btn cart4"
          >
            Add to Cart
          </button>
          <a class="btn" href="#">View</a>
          <h4 class="price"><strong>R400.00</strong></h4>
        </div>
      </div>

      <div class="col-lg-4">
        <img class="thumbnail" src="{{ url_for ('static', filename='/images/women-item6.jpeg')}}" />
        <div class="box-element product">
          <h6 class="name"><strong>Modern Mbhaco Dress</strong></h6>

          <hr />

          <button
            class="btn add-btn cart5"
          >
            Add to Cart
          </button>
          <a class="btn" href="#">View</a>
          <h4 class="price"><strong>R300.00</strong></h4>
        </div>
      </div>

      <div class="col-lg-4">
        <img class="thumbnail" src="{{ url_for ('static', filename='/images/women-item8.jpeg')}}" />
        <div class="box-element product">
          <h6 class="name"><strong>Indlovukazi Dress</strong></h6>

          <hr />

          <button
            class="btn add-btn cart6"
          >
            Add to Cart
          </button>
          <a class="btn" href="#">View</a>
          <h4 class="price"><strong>R2500.00</strong></h4>
        </div>
      </div>

      <div class="col-lg-4">
        <img class="thumbnail" src="{{ url_for ('static', filename='/images/men-item5.jpeg')}}" />
        <div class="box-element product">
          <h6 class="name"><strong>Men's plain Black & White 3pc</strong></h6>
            <p><small>Excludes accessories</small></p>
          <hr />

          <button
            class="btn add-btn cart7"
          >
            Add to Cart
          </button>
          <a class="btn" href="#">View</a>
          <h4 class="price"><strong>R600.00</strong></h4>
        </div>
      </div>

      <div class="col-lg-4">
        <img class="thumbnail" src="{{ url_for ('static', filename='/images/women-item2.jpeg')}}" />
        <div class="box-element product">
          <h6 class="name"><strong>Modern Ball Gown</strong></h6>

          <hr />

          <button
            class="btn add-btn cart8 "
          >
            Add to Cart
          </button>
          <a class="btn" href="#">View</a>
          <h4 class="price"><strong>R2000.00</strong></h>
        </div>
      </div>

      <div class="col-lg-4">
        <img class="thumbnail" src="{{ url_for ('static', filename='/images/men-item6.png')}}" />
        <div class="box-element product">
          <h6 class="name"><strong>Elegant <span style="color: red;">New</span> pattern</strong></h6>

          <hr />

          <button
            class="btn add-btn cart9"
          >
            Add to Cart
          </button>
          <a class="btn" href="#">View</a>
          <h4 class="price"><strong>R1000.00</strong></h4>
        </div>
      </div>

      <div class="col-lg-4">
        <img class="thumbnail" src="{{ url_for ('static', filename='/images/accessories-item4.jpeg')}}" />
        <div class="box-element product">
          <h6 class="name"><strong>King's 2pc</strong></h6>

          <hr />

          <button
            class="btn add-btn cart10"
          >
            Add to Cart
          </button>
          <a class="btn" href="#">View</a>
          <h4 class="price"><strong>R300.00</strong></h4>
        </div>
      </div>

      <div class="col-lg-4">
        <img class="thumbnail" src="{{ url_for ('static', filename='/images/women-item3.jpeg')}}" />
        <div class="box-element product">
          <h6 class="name"><strong>Queen's 2pc Dress</strong></h6>

          <hr />

          <button
            class="btn add-btn cart11"
          >
            Add to Cart
          </button>
          <a class="btn" href="#">View</a>
          <h4 class="price"><strong>R2000.00</strong></h4>
        </div>
      </div>
    <div class="col-lg-4">
        <img class="thumbnail" src="{{ url_for ('static', filename='/images/men-item1.jpeg')}}" />
        <div class="box-element product">
            <h6 class="name"><strong>Unisex Scarf</strong></h6>
    
            <hr />
    
            <button class="btn add-btn cart12">
                Add to Cart
            </button>
            <a class="btn" href="#">View</a>
            <h4 class="price"><strong>R200.00</strong></h4>
        </div>
    </div>
    </div>

 {% endblock content %}
